<div class="navbar">
    <div class="navbar-content">
        <i class="fas fa-bars"></i>
        <h3><fa-icon [icon]="fachartpie"></fa-icon> Expense_Expert</h3>
        <div class="nav-links">
            <p (click)="Ondash()">Dashboard</p>
            <p (click)="Onprofile()">Profile</p>
            <p (click)="Onhistory()">History</p>
            <p (click)="Onlogout()">Logout</p>
        </div>
    </div>
</div>


<!-- <div class="slide-out-panel" [class.slide-out]="sidenavStatus">
    <div class="slide-out-content">
        <h6 class="nav">Expense Expert</h6>
        <p class="edit-col" (click)="Ondash()">Dashboard</p>
        <p class="edit-col" (click)="Onprofile()">Profile</p>
        <p class="edit-col" (click)="Onhistory()">History</p>
        <p class="edit-col" (click)="Onlogout()">Logout</p>
    </div>
</div> -->
