.navbar {
  width: calc(100% - 13.188rem);
  margin-left: 13.188rem;
  padding-left: 1.75rem;
  height: 4.375rem;
  top: 0;
  position: fixed;
  transition: all 0.5s ease;
  display: flex;
  background: #FFFFFF;
  z-index: 1;
  border-bottom: #CCCCCC solid 0.031rem;
}

.navbar-collapsed {
  width: calc(100% - 5rem);
  margin-left: 5rem;
  padding-left: 1.75rem;
  height: 4.375rem;
  top: 0;
  position: fixed;
  transition: all 0.5s ease;
  display: flex;
  background: #FFFFFF;
  z-index: 1;
  border-bottom: #CCCCCC solid 0.031rem;
}

.nav-logo {
  padding-bottom: 15px;
}

.nav-user {
  display: flex;
  gap: 1rem;
  padding-right: 20px;
}

.profile-container {
  display: flex;
  gap: 1rem;
}

.nav-alert {
  border-radius: 50%;
  background-color: rgba(237, 170, 69, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 45px;
  border: 0px;
  position: relative;
}

.notification-count {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  font-size: 10px;
  background-color: #edaa45;
  color: #000;
  position: absolute;
  right: 0.05rem;
  top: -0.2rem;
}

.nav-alert:hover {
  background-color: rgba(237, 170, 69, 0.15) !important;
}

.nav-name {
  font-size: 0;
}

.nav-user-name {
  font-size: large;
  color: #000;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-user-role {
  /* font-size: small; */
  color: #737373;
  font-family: Avenir;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-circle > span {
  color: black;
}

.body-trimmed {
  width: calc(100% - 16.5625rem);
  margin-left: 16.5625rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

div > button:hover {
  background-color: #f3f3f3;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.material-symbols-outlined {
  cursor: pointer;
}

.dropdown > ul {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.dropdown-menu {
  width: 5rem;
}

ul:nth-child(0) {
  padding-top: 10px;
}

ul > li {
  height: 3rem;
}

li > a {
  height: inherit !important;
}

.dropdown-list {
  display: flex;
  align-items: center;
  width: inherit !important;
  padding: 5px;
}

.dropdown-list > .dropdown-icon {
  padding: 5px 0 0 15px;
}

.dropdown-list > label {
  color: #000;
  font-family: Avenir;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 5px 0px 0px 10px;
}

.vertical-line {
  margin-top: 10px;
  width: 0.5px;
  height: 24px;
  border-left: 2px solid #333;
}
